@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --primary-color: #323932;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  max-height: 100%;
}
body {
  background-color: #2b2929;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(/public/assets/main-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.img-slider {
  position: relative;
  width: 700px;
  top: 100px;
  height: 300px;
  left: 480px;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img {
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}
.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  top: 360px;
  transform: translateX(-50%);
}

.img-slider .navigation .btn {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: #2696e9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px) {
  .img-slider {
    width: 600px;
    height: 375px;
  }

  .img-slider .navigation {
    bottom: 25px;
  }
  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px) {
  .img-slider {
    width: 400px;
    height: 250px;
  }
  .img-slider .navigation {
    bottom: 15px;
  }

  .img-slider .navigation .btn {
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px) {
  .img-slider {
    width: 320px;
    height: 200px;
  }
  .img-slider .navigation {
    bottom: 10px;
  }
}
/* page2 */
.halaman2 h6 {
  position: absolute;
  left: 130px;
  top: 110px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 3px;

  color: #ffffff;
}
.halaman2 {
  height: 100vh;
  background-image: url(/public/assets/the-games-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
}
.halaman2 h1 {
  position: absolute;
  left: 130px;
  top: 130px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: 3px;

  color: #ffffff;
}
/* page3 */
.halaman3 {
  height: 100vh;
  background-image: url(/public/assets/features.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
}
.halaman3 h6 {
  position: absolute;
  left: 700px;
  top: 140px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 10px;
  letter-spacing: 4px;
}
.halaman3 h1 {
  position: absolute;
  left: 690px;
  top: 200px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 10px;
  letter-spacing: 4px;
}
.tg {
  position: absolute;
  left: 740px;
  top: 285px;
  color: #ffb548;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 10px;
  letter-spacing: 4px;
}
.halaman3 p {
  position: absolute;
  left: 740px;
  top: 311px;
  right: 200px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 2px;
  text-align: justify;
}
.gs {
  position: absolute;
  left: 740px;
  top: 445px;
  color: #ffb548;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 10px;
}
.tbd {
  position: absolute;
  left: 740px;
  top: 500px;
  color: #ffb548;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 10px;
  letter-spacing: 4px;
}
.els1 {
  position: absolute;
  left: 700px;
  top: 285px;
}
.pgrs {
  position: absolute;
  left: 707px;
  top: 302px;
}
.els2 {
  position: absolute;
  left: 700px;
  top: 443px;
}
.els {
  position: absolute;
  left: 700px;
  top: 500px;
}
/* page 4 */
.halaman4 {
  height: 100vh;
  background-image: url(/public/assets/requirements.png);
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
}
.halaman4 h1 {
  position: absolute;
  left: 90px;
  top: 70px;
  right: 800px;
  font-size: 56px;
  letter-spacing: 4px;
}
.halaman4 h6 {
  position: absolute;
  left: 580px;
  top: 90px;
  letter-spacing: 3px;
  font-size: small;
}
.tblspec {
  position: absolute;
  left: 90px;
  top: 260px;
  right: 550px;
}
.head1,
.head2,
.head3,
.head4,
.head5 {
  color: #f3af34;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}
.head1p,
.head2p,
.head3p,
.head4p,
.head5p {
  color: white;
}
/* page 5 */
.halaman5 {
  height: 100vh;
  background: rgb(74, 65, 65);
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
}
.halaman5 h1 {
  font-size: 58px;
  left: 9%;
  top: 200px;
  position: absolute;
}
.halaman5 h6 {
  font-size: 14px;
  position: absolute;
  left: 9%;
  top: 295px;
  letter-spacing: 1px;
  right: 800px;
  line-height: 20px;
}
.smrr {
  display: inline-block;
  padding: 13px 60px;
  color: rgb(71, 68, 68);
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
  position: absolute;
  left: 9%;
  top: 350px;
}
.card-header {
  top: 8%;
  left: 650px;
  height: 170px;
  width: 380px;
  background: #2b2929;
  position: absolute;
  box-shadow: 0px 1px 10px 1px rgb(101, 99, 99);
  border-radius: 8px;
}
.image-container {
  background: #f3af34;
  width: 60px;
  height: 60px;
  border-radius: 60%;
  padding: 2px;
  position: absolute;
  top: 10%;
  left: 30px;
}
.image-container img {
  border-radius: 50%;
}
.lower-container h3,
h4 {
  box-sizing: border-box;
  line-height: 0.6;
  font-weight: lighter;
  position: absolute;
  left: 110px;
  top: 20%;
  color: #f3af34;
}
.lower-container h4 {
  color: #817b7b;
  position: absolute;
  left: 110px;
  top: 35%;
}
.lower-container p {
  font-size: 16px;
  margin-bottom: 30px;
  color: #e7e1e1;
  position: absolute;
  left: 45px;
  top: 60%;
  font-size: 12px;
  letter-spacing: 1px;
}
.lower-container h6 {
  font-size: 8px;
  color: #817b7b;
  position: absolute;
  left: 25px;
  top: 80%;
  font-size: 8px;
  right: 200px;
}
.twitter {
  left: 90%;
  position: absolute;
  top: 30px;
}
.card-header2 {
  top: 39%;
  left: 540px;
  height: 170px;
  width: 380px;
  background: #2b2929;
  position: absolute;
  box-shadow: 0px 1px 10px 1px rgb(101, 99, 99);
  border-radius: 8px;
}
.image-container2 {
  background: #f3af34;
  width: 60px;
  height: 60px;
  border-radius: 60%;
  padding: 2px;
  position: absolute;
  top: 10%;
  left: 30px;
}
.image-container2 img {
  border-radius: 50%;
}
.lower-container2 h3,
h4 {
  box-sizing: border-box;
  line-height: 0.6;
  font-weight: lighter;
  position: absolute;
  left: 110px;
  top: 20%;
  color: #f3af34;
}
.lower-container2 h4 {
  color: #817b7b;
  position: absolute;
  left: 110px;
  top: 35%;
}
.lower-container2 p {
  font-size: 16px;
  margin-bottom: 30px;
  color: #e7e1e1;
  position: absolute;
  left: 45px;
  top: 60%;
  right: 30px;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 15px;
}
.lower-container2 h6 {
  font-size: 8px;
  color: #817b7b;
  position: absolute;
  left: 25px;
  top: 80%;
  font-size: 8px;
  right: 200px;
}
.twitter2 {
  left: 90%;
  position: absolute;
  top: 30px;
}
.halaman5 {
  height: 100vh;
  background-size: cover;
  background-color: #000000;
  background-position: center;
  position: relative;
  color: #fff;
}
.card-header3 {
  top: 70%;
  left: 620px;
  height: 170px;
  width: 380px;
  background: #2b2929;
  position: absolute;
  box-shadow: 0px 1px 10px 1px rgb(101, 99, 99);
  border-radius: 8px;
}
.image-container3 {
  background: #f3af34;
  width: 60px;
  height: 60px;
  border-radius: 60%;
  padding: 2px;
  position: absolute;
  top: 10%;
  left: 30px;
}
.image-container3 img {
  border-radius: 50%;
}
.lower-container3 h3,
h4 {
  box-sizing: border-box;
  line-height: 0.6;
  font-weight: lighter;
  position: absolute;
  left: 110px;
  top: 20%;
  color: #f3af34;
}
.lower-container3 h4 {
  color: #817b7b;
  position: absolute;
  left: 110px;
  top: 35%;
}
.lower-container3 p {
  font-size: 16px;
  margin-bottom: 30px;
  color: #e7e1e1;
  position: absolute;
  left: 45px;
  top: 60%;
  right: 70px;
  font-size: 12px;
  line-height: 16px;
}
.lower-container3 h6 {
  font-size: 8px;
  color: #817b7b;
  position: absolute;
  left: 25px;
  top: 80%;
  font-size: 8px;
  right: 200px;
}
.twitter3 {
  left: 90%;
  position: absolute;
  top: 30px;
}
/* page6 */
.halaman6 {
  height: 100vh;
  background: rgb(0, 0, 0);
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
}
.skull {
  position: absolute;
  width: 25%;
  height: 75%;
  left: 12%;
  top: 7%;
}
.subsno {
  display: inline-block;
  padding: 12px 25px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
  position: absolute;
  left: 73%;
  top: 371px;
  height: 47px;
  width: 190px;
}
.wtsit {
  position: absolute;
  top: 25%;
  left: 615px;
  right: 480px;
  letter-spacing: 3px;
  line-height: 20px;
}
.halaman6 h1 {
  position: absolute;
  top: 29%;
  left: 615px;
  right: 180px;
  font-size: 85px;
  line-height: 80px;
}
.descc {
  position: absolute;
  top: 45%;
  left: 619px;
  right: 35px;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px;
  font-family: sans-serif;
}
.textinput-email {
  width: 310px;
  height: 50px;
  color: #fff;
  padding: 10px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid #000;
  border-radius: 5px;
  display: inline-block;
  left: 47%;
  top: 400px;
  position: absolute;
}

/* footer */
.footer {
  background-color: #000000;
  padding: 50px 0;
}
.cpyrgt {
  color: rgb(111, 109, 109);
  position: absolute;
  left: 50px;
  right: 970px;
}
.priva {
  color: rgb(255, 255, 255);
  position: absolute;
  left: 870px;
  font-size: 12px;
  letter-spacing: 1px;
}
.vertical {
  color: #fff;
}
.vertical h1 {
  left: 300px;
  position: absolute;
  font-size: 12px;
  top: 605%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.vertical h2 {
  left: 380px;
  position: absolute;
  font-size: 12px;
  top: 605%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.vertical h3 {
  left: 480px;
  position: absolute;
  font-size: 12px;
  top: 605%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.vertical p {
  left: 635px;
  right: 0px;
  position: absolute;
  font-size: 12px;
  top: 604.5%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.vertical h5 {
  left: 820px;
  position: absolute;
  font-size: 12px;
  top: 605%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.fcbk {
  position: absolute;
  left: 73%;
  right: 0;
  top: 605%;
}
.yutup {
  position: absolute;
  left: 83%;
  right: 0;
  top: 605%;
}
.twit {
  position: absolute;
  left: 78%;
  right: 0;
  top: 605%;
}
.vec {
  position: absolute;
  left: 88%;
  right: 0;
  top: 606%;
}
/* header */
header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

header nav.navbar {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}

header nav.navbar .navbar-brand {
  color: #fff;
  font-size: 1.4rem;
}

header nav.navbar .navbar-nav .nav-item {
  margin-right: 0.5rem;
}

header nav.navbar .navbar-nav .nav-item .nav-link {
  padding: 0.5rem;
  color: #fff;
  transition: 0.3s;
}

header nav.navbar .navbar-nav .nav-item .nav-link:hover,
header nav.navbar .navbar-nav .nav-item.active .nav-link {
  color: var(--primary-color);
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 5px;
  position: absolute;
  left: 40%;
  top: 320px;
}

header nav.navbar .navbar-toggler {
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 999;
  outline: none;
  background-color: var(--primary-color);
}

header .content {
  color: #fff;
  position: relative;
  text-align: center;
  top: 35%;
}
header .content h1 {
  position: absolute;
  height: 73.12px;
  left: 9.22%;
  right: 10.47%;
  top: calc(50% - 73.12px / 2 - 130.06px);

  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 200px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #ffffff;
}

header .content p {
  position: absolute;
  height: 100px;
  left: 36%;
  top: 65px;
  text-align: center;
  font-size: 15px;
}
.co-ten {
  font-size: small;
  position: absolute;
  text-align: center;
  top: 380px;
  left: 575px;
}

.ts {
  position: absolute;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  color: #fff;
  font-size: small;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: 575px;
  top: 380px;
}

@media (max-width: 992px) {
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
  }
}

@media (max-width: 768px) {
}
